:root {
  --gwidth: 90vw;

  --sqHeight: calc(var(--gwidth) / 3);

  --mark-size: calc(var(--sqHeight) * 0.9);
}
body {
  font-family: 'Mountains of Christmas', cursive;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(255,0,0);
background: -moz-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,120,120,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,120,120,1) 100%);
background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,120,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ff7878",GradientType=1);
}


.header{
  height: 90px;
  background-image: url('./imgs/green.jpg') ;
  border-bottom: 1px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
  
}

.header .headerText{
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem;
    
}

.noSeleccionable{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.noDrag{
  -webkit-user-drag: none;
  user-drag: none;  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}




.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.gameboard {
  width: var(--gwidth);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;

  border: 0px auto white;

  color: white;
}

.gameboardSquare {
  height: var(--sqHeight);
  max-height: 160px;
  border: 2px solid rgba(255, 255, 255, 0.5);

  margin: 0.15rem;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-top {
  border-top: none;
}

.square-left {
  border-left: none;
}

.square-bot {
  border-bottom: none;
}

.square-right {
  border-right: none;
}

#sq1 {
  border-radius: 2rem 0rem 0rem 0rem;
}

#sq3 {
  border-radius: 0rem 2rem 0rem 0rem;
}
#sq9 {
  border-radius: 0rem 0rem 2rem 0rem;
}
#sq7 {
  border-radius: 0rem 0rem 0rem 2rem;
}

.mark {
  object-fit: cover;
  width: calc((--mark-size) * 0.8);
  height: 90%;
  background-color: transparent;
  filter: brightness(0.9);
  animation: mark 0.4s;
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.gameboardSquare:has(.mark) {
  cursor: not-allowed;
}

@keyframes mark {
  from {
    opacity: 0;
    rotate: -25deg;
  }

  to {
    opacity: 0.5;
    rotate: 10deg;
  }
  to {
    opacity: 1;
    rotate: 0deg;
  }
}

/* customizable snowflake styling */
.snowflake {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  opacity: 0.5;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0.6;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(80px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 0.25;
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

/* WINNING MESSAGE - RESTART BUTTON*/

.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  gap: 4rem;
  display: none;
}

.winning-message button {
  font-size: 3rem;
}

.starting-message{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;
  display: none;

}





.show {
  display: flex;
}

.footer {
  margin-top: 40px;
  color: white;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.7rem;
  color: rgb(54, 54, 54);
}

.footer p {
  color: rgb(216, 216, 216);
}

.footer > p > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

@media (min-width: 600px) {
  .footer {
    font-size: 1rem;
  }
}
